@import "tailwindcss";
@source "../views";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Mendeklarasikan font lokal */
@font-face {
    font-family: 'Caveat';
    src: url('/fonts/caveat/Caveat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}